{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block opengraph %}
<meta property="og:type"        content="article" />
{% if not ez_is_field_empty(content, 'image') %}
{% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
<meta property="og:image"       content="{{ asset( imageAlias.uri, absolute=true ) }}" /> 
{% endif %}   
<meta property="og:title"       content="{{ ez_field_value(content, 'title') }}" />
<meta property="og:description" content="{{ ez_render_field(content, 'intro')|striptags }}" />
<meta property="og:url"         content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
<meta property="og:site_name"   content="Damien SIBILLE Consultant e-commerce" />
{% endblock %}   

{% block title %}
<article class="page-title">
    
    <section class="title">
        <h1>Catégorie : <span class="text-color">{{ ez_render_field(content, 'categorie_article') }}</span></h1>
    </section> 

    <!-- .breadcrumbs start -->
    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="/blog">Blog</a>
        </li>
    </ul>

</article> 
{% endblock %}

{% block content %}
<div class="container_12">

    <!-- .grid_8 start -->
    <article class="grid_8 blog-posts blog-post-single">

        <!-- .blog-post start -->
        <article class="blog-post format-standard clearfix">      
            {% if not ez_is_field_empty(content, 'image') %}
            {% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
            <img src="{{ asset( imageAlias.uri, absolute=true ) }}" alt="{{ content.getField( 'image' ).value.alternativeText }}" />     
            {% endif %}
            <!-- .post-info start -->
            <section class="post-info">
                <!-- .post-date start -->
                <div class="post-date">
                    <span class="date-big">{{ ez_field_value(content, 'publish_date')|date('d') }}</span>
                    <span>{{ ez_field_value(content, 'publish_date')|date('M Y') }}</span>
                </div>

                <!-- .post-category start -->
                <div class="post-category">
                    <span class="category-text"></span>
                </div>

                <!-- .title-meta start -->
                <div class="title-meta">
					<h2>{{ ez_field_value(content, 'title') }}</h2>
                </div>
            </section>

            <!-- .post-body start -->
            <article class="post-body blog">
            {{ ez_render_field(content, 'body') }}
            </article>
        </article>

        <!-- .post-author start -->
        <article class="post-author">
            <div class="section-title">
                <h5>A propos de l'auteur</h5>
            </div>

            <section class="post-author-body">
                <img src="{{ asset('img/blog/photo-damien-sibille.jpg') }}" height="110" alt="Responsable E-Commerce Damien SIBILLE" />

                <div class="post-author-about">
                    <h6>{{ ez_field_value(content, 'author') }}</h6>

                    <p>
                        Passionné par le web, j'évolue comme Responsable E-Commerce 
                        depuis près de 10 ans avec une double compétence technique et webmarketing.   
                        J'aime contribuer activement à la <i>digitalisation</i> des entreprises.
                    </p>
                </div>
            </section>
        </article><!-- post-author end -->

        <div class="divider"></div>

    </article><!-- .grid_8 end -->


    <!-- .aside-right start -->
    <aside class="grid_4 aside-right">

        <!-- .widget start -->
        <ul class="aside_widgets">

            <!-- .widget_categories start -->
            <li class="widget widget_categories">
                <div class="title">
                    <h5>Catégories</h5>
                </div>
                <ul>
                    <li><a href="{{ path('blog_categorie', {'categorie':'toutes' } )|lower }}">Toutes</a></li>
                    {% for categorie in categories %}
                    <li><a href="{{ path('blog_categorie', {'categorie':loop.index-1 } ) }}">{{ categorie }}</a></li>
                    {% endfor %}                
                </ul>  
            </li><!-- .widget_recent_entries end -->

        </ul><!-- .aside_widgets end -->
    </aside><!-- .aside-right end -->
    
</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        /* <![CDATA[ */
        // COMMENT FORM AJAX SUBMIT
        $('#commentform #comment-reply').on('click', function(event){
            event.preventDefault();
            var name = $('#comment-name').val();
            var email = $('#comment-email').val();
            var message = $('#comment-message').val();
            var form_data = new Array({'Name' : name, 'Email' : email, 'Message' : message});
            $.ajax({
                type: 'POST',
                url: "contact.php",
                data: ({'action': 'comment', 'form_data' : form_data})
            }).done(function(data) {
                alert(data);
            });
        });
        /* ]]> */
    </script>
{% endblock %}


