{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block opengraph %}
<meta property="og:type"        content="article" />
{% if not ez_is_field_empty(content, 'image') %}
{% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
<meta property="og:image"       content="{{ asset( imageAlias.uri, absolute=true ) }}" /> 
{% endif %}   
<meta property="og:title"       content="{{ ez_field_value(content, 'title') }}" />
<meta property="og:description" content="{{ ez_render_field(content, 'intro')|striptags }}" />
<meta property="og:url"         content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
<meta property="og:site_name"   content="Damien SIBILLE Consultant e-commerce" />
{% endblock %}   

{% block title %}
<article class="page-title">
    
    <section class="title">
        Blog catégorie : <span class="text-color">{{ ez_render_field(content, 'categorie_article') }}</span>
    </section> 

    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="/blog">Blog</a>
        </li>
    </ul>

</article> 
{% endblock %}

{% block content %}
<div class="container_12" itemscope itemtype="http://schema.org/Article">

    {# ARTICLE #}
    <article class="grid_8 blog-posts blog-post-single">

        {# CONTENU ARTICLE #}
        <article class="blog-post format-standard clearfix">      
            {% if not ez_is_field_empty(content, 'image') %}
            {% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
            <img src="{{ asset( imageAlias.uri, absolute=true ) }}" alt="{{ content.getField( 'image' ).value.alternativeText }}" />     
            <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">    
                <meta itemprop="url" content="{{ asset( imageAlias.uri, absolute=true ) }}">
                <meta itemprop="width" content="620">
                <meta itemprop="height" content="275">
            </div>
            {% endif %}
            
            <section class="post-info">
                {# DATE #}
                <div class="post-date">
                    <span class="date-big">{{ ez_field_value(content, 'publish_date')|date('d') }}</span>
                    <span>{{ ez_field_value(content, 'publish_date')|date('M Y') }}</span>
                </div>

                {# CATEGORIE #}
                <div class="post-category">
                    <span class="category-text"></span>
                </div>

                {# TITRE #}
                <div class="title-meta">
                    <h1 itemprop="name">{{ ez_field_value(content, 'title') }}</h1>
                    <ul class="meta">
                        <li itemprop="author" itemscope itemtype="https://schema.org/Person">
                            <span>Par </span><span itemprop="name">Damien SIBILLE</span>,
                        </li>
                        <li>
                            <span>créé le </span><span itemprop="datePublished" content="{{ ez_field_value(content, 'publish_date')|date('Y-m-d') }}">{{ ez_field_value(content, 'publish_date')|date('d M Y') }}</span>,
                        </li>
                        <li>
                            <span>modifié le </span><span itemprop="dateModified" content="{{ content.contentInfo.modificationDate|date('Y-m-d') }}">{{ content.contentInfo.modificationDate|date('d M Y') }}</span>
                        </li>
                    </ul>
                </div>
            </section>

            {# CORPS ARTICLE #}
            <meta itemprop="headline" content="{{ ez_render_field(content, 'intro')|striptags|truncate(100, true, '...') }}">
            <article class="post-body blog" itemprop="text">            
            {{ ez_render_field(content, 'body') }}
            </article>
        </article>

        {# URL ARTICLE #}
        <meta itemprop="mainEntityOfPage" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
            
        {# AUTEUR #}
        <article class="post-author blog" itemprop="publisher" itemscope="" itemtype="http://schema.org/Organization">
        {% include "SibilleEcommerceBundle:parts:auteur.html.twig" with { 'type':'publisher' } %}
        </article>

        <div class="divider"></div>

    </article>


    {# WIDGETS COLONNE DE DROITE #}
    <aside class="grid_4 aside-right">

        <ul class="aside_widgets">

            {# SELECTION CATEGORIES ARTICLES #}
            <li class="widget widget_categories">
                <div class="title">
                    <h4>Catégories</h4>
                </div>
                <ul>
                    <li><a href="{{ path('blog_categorie', {'categorie':'toutes' } )|lower }}">Toutes</a></li>
                    {% for categorie in categories %}
                    <li><a href="{{ path('blog_categorie', {'categorie':loop.index-1 } ) }}">{{ categorie }}</a></li>
                    {% endfor %}                
                </ul>  
            </li>

        </ul>
    </aside>
    
</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script>
        /* <![CDATA[ */
        // COMMENT FORM AJAX SUBMIT
        $('#commentform #comment-reply').on('click', function(event){
            event.preventDefault();
            var name = $('#comment-name').val();
            var email = $('#comment-email').val();
            var message = $('#comment-message').val();
            var form_data = new Array({'Name' : name, 'Email' : email, 'Message' : message});
            $.ajax({
                type: 'POST',
                url: "contact.php",
                data: ({'action': 'comment', 'form_data' : form_data})
            }).done(function(data) {
                alert(data);
            });
        });
        /* ]]> */
    </script>
{% endblock %}


