{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block title %}
<article class="page-title">
    
    <section class="title">
        <h1><span class="text-color">{{ ez_field_value(content, 'title') }}</span></h1>
    </section> 

    <!-- .breadcrumbs start -->
    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="#">{{ ez_field_value(content, 'title') }}</a>
        </li>
    </ul><!-- .breadcrumbs end -->

</article> <!-- .page-title end -->
{% endblock %}

{% block content %}
    
<div class="container_12">

    <!-- .grid_8 start -->
    <ul class="grid_8 blog-posts blog-posts2">

        {# LISTE DES ARTICLES #}
        {% for article in articles %}
        {{ render( controller( 'ez_content:viewLocation', 
            {'locationId': article.contentInfo.mainLocationId, 'viewType': 'line', params: {} } ) ) 
        }}
        {% endfor %}
        
        {# PAGINATION #}
        {% if articles.haveToPaginate() %}
        {{ pagerfanta( articles, 'twitter_bootstrap', 
            {'routeName': location, 
            'prev_message': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
            'next_message': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
            'css_prev_class': 'arrow-prev', 
            'css_next_class': 'arrow-next',
            'css_container_class': 'pagination clearfix'
            } ) 
        }}
        {% endif %}
        
    </ul><!-- .grid_8 end -->

    <!-- .aside-right start -->
    <aside class="grid_4 aside-right">

        <!-- .widget start -->
        <ul class="aside_widgets">

            <!-- .widget_categories start -->
            <li class="widget widget_categories">
                <div class="title">
                    <h5>Catégories</h5>
                </div>
                <ul>
                    <li><a href="{{ path('blog_categorie', {'categorie':'toutes' } )|lower }}">Toutes</a></li>
                    {% for categorie in categories %}
                    <li><a href="{{ path('blog_categorie', {'categorie':loop.index-1 } ) }}">{{ categorie }}</a></li>
                    {% endfor %}                
                </ul>  
            </li><!-- .widget_recent_entries end -->

        </ul>
    </aside><!-- .aside-right end -->

</div><!-- .container_12 end -->
    
{% endblock %}

{% block script %}
    {{ parent() }}
    <script  src="{{ asset('js/jquery.nivo.slider.js') }}"></script><!-- nivo slider -->
    <script  src="{{ asset('js/jplayer/jquery.jplayer.min.js') }}"></script> <!-- prettyPhoto lightbox -->
    
    <script>
        /* <![CDATA[ */
        /* NIVO SLIDER */
        $(window).load(function() {
            $('#slider').nivoSlider({
                controlNav: false
            });
        });

        /* AUDIO PLAYER */
        $("#jquery_jplayer_1").jPlayer({
            ready: function (event) {
                $(this).jPlayer("setMedia", {
                    m4a:"http://www.jplayer.org/audio/m4a/TSP-01-Cro_magnon_man.m4a",
                    oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
                });
            },
            swfPath: "js/jplayer/",
            supplied: "m4a, oga",
            wmode: "window"
        });
        /* ]]> */
    </script>
{% endblock %}
