{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block title %}
<article class="page-title">
    
    <section class="title">
        <h1>Un projet, une question, un conseil ? <span class="text-color">Contactez-moi !</span></h1>
    </section> 

    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="/contact">Contact</a>
        </li>
    </ul>

</article> 
{% endblock %}

{% block content %}
<div class="container_12">
    
    <div class="grid_6 aside aside-left">

        <ul class="aside_widgets">

            {# COORDONNEES #}
            <li class="widget widget_text">
                <div class="title contact">
                    <h2>Coordonnées</h2>
                </div>

                <ul class="quick-contact-info">
                    <li><strong>Damien SIBILLE</strong><br />
                        Le Saint Landry<br />
                        Montée du Coin<br />
                        73480 Lanslevillard
                    </li>
                    <ul class="contact-phone">
                        <li>
                            <span>+33 (0)6 68 79 47 80</span>
                        </li>
                    </ul>  
                    <a class="btn-small" href="https://goo.gl/maps/APZfcMtjxRH2" target="_blank">
                        <span>Itinéraire Google Maps</span>
                    </a>

                </ul>
            </li>
            
            <li class="widget widget_text">
                <div class="title contact">
                    <h2>Votre demande</h2>
                </div>
                <ul class="quick-contact-info">
                    <li>Remplissez le formulaire ci-dessous et je vous répondrai sous 24 à 48 h.</li>
                </ul>
            </li>

        </ul>
    </div>

    <div class="grid_8" style="margin-bottom: 30px !important">
        <div id="map_canvas"></div>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="grid_12">

        {# MESSAGES ERREUR ET SUCCES #}
        <div class="grid_9" style="margin-bottom: 0 !important">
            {% for message in app.session.flashbag.get('info') %}
                <section class="success-box">
                    <p>{{ message }}</p>
                </section>
           {% endfor %}

            {% if not form.vars.valid %}
            <section class="error-box">
                <p>{{ form_errors(form) }}</p>
            </section>
            {% endif %}
        </div>

        {# FORMULAIRE DE CONTACT #}
        {{ form_start(form, {'method': 'POST', 'attr': {'class': 'wpcf7', 'id': 'contact-form' }  }) }}
        <div class="grid_5" style="margin-bottom: 0 !important">
            <fieldset>
                {{ form_widget(form.nom, {'attr': {'class': 'wpcf7-text', 'placeholder': 'Nom'}}) }}
                <span class="text-color">*</span>
            </fieldset>
            <fieldset>
                {{ form_widget(form.email, {'attr': {'class': 'wpcf7-text', 'placeholder': 'Email'}}) }}
                <span class="text-color">*</span>
            </fieldset>
        </div>    
            
        <div class="grid_5" style="margin-bottom: 0 !important">
            <fieldset>
                {{ form_widget(form.prenom, {'attr': {'class': 'wpcf7-text', 'placeholder': 'Prénom'}}) }}
                <span class="text-color">*</span>
            </fieldset>
            <fieldset>
                {{ form_widget(form.telephone, {'attr': {'class': 'wpcf7-text', 'placeholder': 'Téléphone'}}) }}
            </fieldset>
        </div>    

        <div class="grid_9" style="margin-bottom: 0 !important">
            <fieldset>
                {{ form_widget(form.commentaire, {'attr': {'rows': '10', 'class': 'wpcf7-textarea', 'placeholder': 'Votre message'}}) }}
                <span class="text-color">*</span>
            </fieldset>
        </div>

        <div class="grid_9">
            <input type="submit" class="wpcf7-submit" value="ENVOYER" />
        </div>  
            
        {{ form_end(form) }}
    </div>    
    
</div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script  src="https://maps.google.com/maps/api/js?sensor=true"></script> 
    <script  src="{{ domaine.url ~ 'js/jquery.ui.map.full.min.js' }}"></script>
    
    <script>
        /* <![CDATA[ */
        /* GOOGLE MAP */
        $(function(){
            //google maps
            var yourStartLatLng = new google.maps.LatLng(45.2898799, 6.911713999999961);
            $('#map_canvas').gmap({'center': yourStartLatLng,'zoom': 15, 'disableDefaultUI':true, 'callback': function() {
                    var self = this;
                    self.addMarker({'position': this.get('map').getCenter() });	
                }});                         
        });

        
        /* ]]> */
    </script>
{% endblock %}
