{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block title %}
<article class="page-title">
    
    <section class="title">
        <h1><span class="text-color">{{ ez_field_value(content, 'title') }}</span> de mes réalisations</h1>
    </section> 

    <!-- .breadcrumbs start -->
    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="#">{{ ez_field_value(content, 'title') }}</a>
        </li>
    </ul><!-- .breadcrumbs end -->

</article> <!-- .page-title end -->
{% endblock %}

{% block content %}
{# FILTRE #}
<div class="container_12">
    <section class="grid_12 portfolio-filter-container">
        <ul id="portfolio-filter">
            <li class="active"><a href="/portfolio">Tous</a>/</li>
            {% for categorie in categories %}
            <li><a class="{{ categorie }}" href="#">{{ categorie }}</a>/</li>
            {% endfor %}
        </ul>
    </section>
</div>

<!-- .container_12 start -->
<section class="container_12">

    {# LISTE DES PROJETS #}
    <ul id="filter-item">  
        {% for projet in projets %}
        {% set largeur = '300' %}
        {% set hauteur = '176' %}
        <li data-id="id-{{ loop.index }}" class="grid_4"  data-alpha="{{ ez_render_field(projet, 'categorie') }}">
        {{ render( controller( 'ez_content:viewLocation', 
            {'locationId': projet.contentInfo.mainLocationId, 'viewType': 'line', params: {'largeur': largeur, 'hauteur': hauteur} } ) ) 
        }}
        </li>
        {% if( loop.index % 3 == 0 ) %}
        <div class="clearfix"></div>
        {% endif %}
        {% endfor %}
    </ul><!-- portfolio items end -->

    {# PAGINATION #}
    {% if projets.haveToPaginate() %}
    <ul class="grid_12 clearfix">
    {{ pagerfanta( projets, 'twitter_bootstrap', 
        {'routeName': location, 
        'prev_message': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
        'next_message': '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
        'css_prev_class': 'arrow-prev', 
        'css_next_class': 'arrow-next',
        'css_container_class': 'pagination portfolio-pagination'
        } ) 
    }}
    </ul>
    {% endif %}

</section>
    
{% endblock %}

{% block script %}
    {{ parent() }}
    <script  src="{{ asset('js/portfolio.js') }}"></script> <!-- portfolio custom options -->
    <script  src="{{ asset('js/quicksand.js') }}"></script> <!-- quicksand filter -->
    <script  src="{{ asset('js/jquery.prettyPhoto.js') }}"></script> <!-- prettyPhoto lightbox -->
{% endblock %}
