{% extends "SibilleEcommerceBundle::pagelayout.html.twig" %}

{% block opengraph %}
<meta property="og:type"        content="article" />
<meta property="og:title"       content="{{ ez_field_value(content, 'title') }}" />
<meta property="og:description" content="{{ ez_render_field(content, 'mission')|striptags }}" />
<meta property="og:url"         content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
<meta property="og:site_name"   content="Damien SIBILLE Consultant e-commerce" />
{% if not ez_is_field_empty(content, 'image') %}
{% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
<meta property="og:image"       content="{{ asset( imageAlias.uri, absolute=true ) }}" />
{% endif %}
{% endblock %}   

{% block title %}
<article class="page-title">
    
    <section class="title">
        <h1><span class="text-color">{{ ez_field_value(content, 'title') }}</span></h1>
    </section> 

    <!-- .breadcrumbs start -->
    <ul class="breadcrumbs">
        <li>
            vous êtes ici:
        </li>
        <li class="home-icon">
            <a href="/">/</a>
        </li>
        <li class="active">
            <a href="/portfolio">Portfolio</a>
        </li>
    </ul>

</article> 
{% endblock %}

{% block content %}
<div class="container_12" itemscope itemtype="http://schema.org/CreativeWork">
    
    {# IMAGE #}
    <article class="grid_8">
        <div id="slider" class="nivoSlider portfolio-slider">
            {% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
            <img itemprop="image" src="{{ asset( imageAlias.uri, absolute=true ) }}" alt="{{ content.getField( 'image' ).value.alternativeText }}" />     
        </div>
        <span itemprop="about">{{ ez_field_value(content, 'title') }}</span>

    </article>

    <article class="grid_4 portfolio-info">

        {# CHIFFRES CLES #}
        <div class="section-title">
            <h4>Chiffres clés</h4>
            <ul class="links">
                {% if prevId != 0 %}
                <li class="arrow-prev">
                    <a href="{{ path( "ez_urlalias", {'locationId': prevId} )|lower }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                {% endif %}

                <li class="portfolio-grid">
                    <a href="/portfolio"></a>
                </li>
                
                {% if nextId != 0 %}
                <li class="arrow-next">
                    <a href="{{ path( "ez_urlalias", {'locationId': nextId} )|lower }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </li>
                {% endif %}
            </ul>

        </div>
            
        <ul class="arrow-list">
            <li>Client : <strong>{{ ez_render_field(content, 'client') }}</strong></li>
            <li itemprop="dateCreated" content="{{ ez_field_value(content, 'annee') }}">Année : <strong>{{ ez_field_value(content, 'annee') }}</strong></li>
            <li>Durée : <strong>{{ ez_field_value(content, 'duree') }}</strong></li>
            {% if not ez_is_field_empty(content, 'budget') %}
            <li>Budget : <strong>{{ ez_render_field(content, 'budget') }}</strong></li>
            {% endif %}
        </ul>

        <br />

        {# TAGS TECHNO #}
        <ul class="aside_widgets">

            <li class="widget widget_tag_cloud">
                <div class="title">
                    <h4>Technos</h4>
                </div>
                <div class="tagcloud" itemprop="keywords">
                {% for techno in technos %}
                    <a href="#">{{ techno }}</a>
                {% endfor %}
                </div>
            </li>

        </ul>
        
        {# BOUTON VOIR LE SITE #}        
        <meta itemprop="url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
        {% if not ez_is_field_empty(content, 'url') %}
        <a href="{{ ez_field_value(content, 'url') }}" class="btn-medium" target="_blank">
            <span>Voir le site</span>
        </a>
        {% endif %}
    </article>

    {# CONTENU TEXTE #}
    <div class="grid_8 projet">

        {% if not ez_is_field_empty(content, 'mission') %}
        <h2>Le projet</h2>
        <meta itemprop="headline" content="{{ ez_render_field(content, 'mission') }}">{{ ez_render_field(content, 'mission') }}
        <br />
        {% endif %}

        {% if not ez_is_field_empty(content, 'enjeux') %}
        <h2>Enjeux et objectifs</h2>
        {{ ez_render_field(content, 'enjeux') }}
        <br />
        {% endif %}

        {% if not ez_is_field_empty(content, 'contenu') %}
        <h2>Description</h2>
        <meta itemprop="text" content="{{ ez_render_field(content, 'contenu') }}">{{ ez_render_field(content, 'contenu') }}
        <br />
        {% endif %}

        {% if not ez_is_field_empty(content, 'resultats') %}
        <h2>Résultats</h2>
        {{ ez_render_field(content, 'resultats') }}
        {% endif %}

        {# AUTEUR #}
        <article class="post-author" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
        {% include "SibilleEcommerceBundle:parts:auteur.html.twig" with { 'type':'creator' } %}
        </article>

    </div>

</div>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script  src="{{ asset('js/portfolio.min.js') }}"></script> <!-- portfolio custom options -->
    <script  src="{{ asset('js/jquery.nivoslider.min.js') }}"></script><!-- nivo slider -->
    <script>
        /* <![CDATA[ */
        /* NIVO SLIDER */
        $(window).load(function() {
            $('#slider').nivoSlider({
                controlNav: false
            });
        });
        /* ]]> */
    </script>
{% endblock %}
