{# empty Twig template #}
{% set imageAlias = ez_image_alias( content.getField( 'image' ), content.versionInfo, 'original' ) %}
{% set vignetteAlias = ez_image_alias( content.getField( 'image_small' ), content.versionInfo, 'original' ) %}
    <figure class="portfolio">
        <a class="portfolio-image" href="{{ path( "ez_urlalias", {"locationId": content.versionInfo.contentInfo.mainLocationId} )|lower }}">
            <img src="{{ asset( vignetteAlias.uri, absolute=true ) }}" alt="{{ content.getField( 'image_small' ).value.alternativeText }}" width="{{ largeur }}" height="{{ hauteur }}" />     
        </a>

        <figcaption>
            <div class="caption-title">
                <p class="title">
                    {% if ez_is_field_empty( content, 'titre_court' ) %}
                    {{ ez_field_value(content, 'title') }}
                    {% else %}
                    {{ ez_field_value(content, 'titre_court') }}
                    {% endif %}
                </p>
            </div>

            <ul class="caption-hover">
                <li class="portfolio-zoom">
                    <a href="{{ asset( imageAlias.uri, absolute=true ) }}" 
                       data-gal="prettyPhoto[pp_gallery]">zoom
                    </a>
                </li>

                <li class="portfolio-single">
                    <a href="{{ path( "ez_urlalias", {"locationId": content.versionInfo.contentInfo.mainLocationId} )|lower }}">single</a>
                </li>
            </ul>
        </figcaption>
    </figure>

