<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr-FR" />
        {% if content is defined and title is not defined %}
            {% set title = ez_content_name( content ) %}
        {% endif %}
        {% set currentName = app.request.server.get("SCRIPT_NAME")|split('/') %} 
        {% if currentName[1] == '' %}
        <title>{{ ez_field_value(content, 'seo_title') }}</title>
        {% else %}
        <title>{{ ez_field_value(content, 'seo_title') ~ ' | Damien SIBILLE' }}</title>
        {% endif %}
        <meta name="description" content="{{ ez_field_value(content, 'seo_description') }}">
        <meta name="author" content="Damien SIBILLE">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
        <meta name="google-site-verification" content="fvTZkXY3KgiCX4vwHtUuophbiL9xpw-PRU9D44Hc4mo" />
		<link href="https://plus.google.com/+DamiensibilleFr73" rel="publisher" />
        <link rel="alternate" hreflang="fr" href="https://www.damien-sibille.fr/" />
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">

        {% block opengraph %}
        {% endblock %}    
        
        <!-- stylesheets -->
        {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="stylesheet" title="activestyle" href="{{ asset('css/yellow.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('pixons/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('service-icons/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/nivo-slider.css') }}" type="text/css" />        
        <link rel="stylesheet" href="{{ asset('css/prettyPhoto.css') }}" type="text/css" media="screen" />        
        
        <!--[if (gte IE 9)]>
            <link rel="stylesheet" href="{{ asset('css/ie.css') }}" media="screen" />
        <![endif]-->
        
        <!--[if IE 8]>
            <link rel="stylesheet" href="{{ asset('css/ie8.css') }}" media="screen" />
        <![endif]-->
        {% endblock %}

        {% block javascript %}
        <!--[if lt IE 9]>
            <script src="{{ asset('js/html5shiv.js') }}"></script>
        <![endif]-->
        {% endblock %}

    </head>

    <body class="patt1">

        <!-- #page-wrap start -->
        <div id="page-wrap">

            <!-- header start -->
            <header id="header" class="clearfix">

                <!-- logo start -->
                <section id="logo">
                    <a href="{{ path( ezpublish.rootLocation ) }}">
                        <img src="{{ asset('img/logo-damien-sibille.png') }}" alt="Damien SIBILLE # Responsable E-Commerce"/>
                    </a>
                </section>

                <!-- #nav-ontainer start -->
                <section id="nav-container">

                    <!-- main navigation start  -->
                    {% block menu %}
                    {{ render(controller('SibilleEcommerceBundle:Menu:index')) }}
                    {% endblock %}

                    <!-- search start -->
                    <section id="search">
                        
                    </section>
                </section>
            </header>

            <!-- .page-title start -->
            {% block title %}
            {% endblock %}

            <!-- slider -->
            {% block slider %}
            {% endblock %}

            <!-- #content-wrapper start -->
            <div id="content-wrapper">
            {% block content %}
            {% endblock %}
            </div>
            
            <!-- #footer-wrapper start -->
            <div id="footer-wrapper" class="clearfix">
            {% block footer %}
            {% include "SibilleEcommerceBundle:parts:footer.html.twig" %}
            {% endblock %}
            </div>           
            
        </div><!-- #page-wrap end -->

        <!-- scripts -->
        {% block script %}
        <script  src="{{ asset('js/jquery-1.8.3.js') }}"></script> <!-- jQuery library -->   
        <script  src="{{ asset('js/jquery.placeholder.min.js') }}"></script><!-- jQuery placeholder fix for old browsers -->
        <script  src="{{ asset('js/socialstream.jquery.min.js') }}"></script> <!-- Social Networks Feeds -->
        <script  src="{{ asset('js/jquery.tweetscroll.js') }}"></script> <!-- jQuery tweetscroll plugin -->
        <script  src="{{ asset('js/include.js') }}"></script> <!-- jQuery custom options -->

        <script>
            /* <![CDATA[ */            
            /* TWEETSCROLL */
            $('.tweets-list-container').tweetscroll({
                username: 'dsibille', 
                time: true, 
                limit: 11, 
                replies: true, 
                position: 'append',
                date_format: 'style2',
                animation: 'fade',
                visible_tweets: 1
            });

            /* PINTEREST FEED */
            $('.pinterest-feed').socialstream({
                socialnetwork: 'pinterest',
                limit: 15,
                username: 'damiensibille'
            })

            /* ]]> */
        </script>
        {% endblock %}

    </body>


</html>
