<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr-FR" />
        {% if content is defined and title is not defined %}
            {% set title = ez_content_name( content ) %}
        {% endif %}
        {% set currentName = app.request.server.get("SCRIPT_NAME")|split('/') %} 
        {% if currentName[1] == '' %}
        <title>{{ ez_field_value(content, 'seo_title') }}</title>
        {% else %}
        <title>{{ ez_field_value(content, 'seo_title') ~ ' | Damien SIBILLE' }}</title>
        {% endif %}
        <meta name="description" content="{{ ez_field_value(content, 'seo_description') }}">
        <meta name="author" content="Damien SIBILLE">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width">
        <meta name="google-site-verification" content="fvTZkXY3KgiCX4vwHtUuophbiL9xpw-PRU9D44Hc4mo" />
        <link href="https://plus.google.com/+DamiensibilleFr73" rel="publisher" />
        <link rel="alternate" hreflang="fr" href="https://www.damien-sibille.fr/" />
        {% block canonical %}
        {% endblock %}   
        
        {% block opengraph %}
        {% endblock %}    
        
        {% block stylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Oswald:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('pixons/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('service-icons/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/nivo-slider.min.css') }}" type="text/css" />        
        <!--[if (gte IE 9)]>
            <link rel="stylesheet" href="{{ domaine.url ~ 'css/ie.css' }}" media="screen" />
        <![endif]-->
        
        <!--[if IE 8]>
            <link rel="stylesheet" href="{{ domaine.url ~ 'css/ie8.css' }}" media="screen" />
        <![endif]-->
        {% endblock %}

        {% block javascript %}
        <!--[if lt IE 9]>
            <script src="{{ domaine.url ~ 'js/html5shiv.js' }}"></script>
        <![endif]-->
        {% endblock %}

    </head>

    <body class="patt1">

        <div id="page-wrap">

            <header id="header" class="clearfix">

                <section id="logo">
                    <a href="{{ path( ezpublish.rootLocation ) }}">
                        <img src="{{ asset('img/logo-damien-sibille.png') }}" alt="Damien SIBILLE # Responsable E-Commerce"/>
                    </a>
                </section>

                <section id="nav-container">

                    {% block menu %}
                    {{ render(controller('SibilleEcommerceBundle:Menu:index')) }}
                    {% endblock %}

                    <section id="search">
                        
                    </section>
                </section>
            </header>

            {% block title %}
            {% endblock %}

            {% block slider %}
            {% endblock %}

            <div id="content-wrapper">
            {% block content %}
            {% endblock %}
            </div>
            
            <div id="footer-wrapper" class="clearfix">
            {% block footer %}
            {% include "SibilleEcommerceBundle:parts:footer.html.twig" %}
            {% endblock %}
            </div>           
            
        </div>

        {% block script %}
        <script  src="{{ domaine.url ~ 'js/jquery.js' }}"></script>
        <script>
            /* <![CDATA[ */            
            $('.tweets-list-container').tweetscroll({
                username: 'dsibille', 
                time: false, 
                limit: 3, 
                replies: true, 
                date_format: 'style1',
                animation: 'slide_down',
                visible_tweets: 1,
                speed : 1200,
                delay: 3000
            });

            $('.pinterest-feed').socialstream({
                socialnetwork: 'pinterest',
                limit: 15,
                username: 'damiensibille'
            })
        /* ]]> */
        </script>
        {% endblock %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-27784669-2', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
