{# empty Twig template #}

<h3>Nouveau message de contact</h3>

<table width="70%">
    <tr>
        <td>Nom : </td>
        <td>{{ message.nom }}</td>
    </tr>
    <tr>
        <td>Prénom : </td>
        <td>{{ message.prenom }}</td>
    </tr>
    <tr>
        <td>E-mail : </td>
        <td>{{ message.email }}</td>
    </tr>
    <tr>
        <td>Téléphone : </td>
        <td>{{ message.telephone }}</td>
    </tr>
    <tr>
        <td>Message : </td>
        <td>{{ message.commentaire }}</td>
    </tr>
</table>

